<!-- begin header -->
<header class="header js-header">
  <!-- begin header__logo -->
  <div class="header__logo">
    <h1>
      <a href="#" class="logo"><span>Mi</span> MUSIC.</a>
    </h1>
  </div>
  <!-- end header__logo -->

  <div class="header__links">
    <nav class="nav">
      <a href="#">HOME</a>
      <a href="#">LIVE</a>
      <a href="#">ALBUMS</a>
      <a href="#" class="is-active">NEWS</a>
      <a href="#">ABOUT</a>
    </nav>

    <!-- begin socials -->
    <div class="socials">
      <a href="#">{{ mixins.icon('facebook') }}</a>
      <a href="#">{{ mixins.icon('twitter') }}</a>
      <a href="#">{{ mixins.icon('instagram') }}</a>
      <a href="#">{{ mixins.icon('youtube') }}</a>
    </div>
    <!-- end socials -->
  </div>
</header>
<!-- end header -->
